# Core Framework
fastapi
uvicorn[standard]

# ML & Data Processing
tensorflow
numpy
Pillow

# For downloading the model from Google Drive
gdown

# For CORS (Good practice to include for Flutter web/mobile)
python-multipart
fastapi-cors